<div class="container">
  <div class="mat-card register-container">
    <mat-card-title class="register-title">Register</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="register()" #registerForm="ngForm">
        <mat-form-field appearance="fill" class="register-input">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            id="username"
            [(ngModel)]="username"
            name="username"
            required
            minlength="4"
            #usernameCtrl="ngModel"
          />
          <mat-error *ngIf="usernameCtrl.invalid && usernameCtrl.touched">
            Please enter a valid username.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="register-input">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
            email
            #emailCtrl="ngModel"
          />
          <mat-error *ngIf="emailCtrl.invalid && emailCtrl.touched">
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="register-input">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
            minlength="6"
            #passwordCtrl="ngModel"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            type="button"
          >
            <mat-icon>{{
              showPassword ? "visibility" : "visibility_off"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordCtrl.invalid && passwordCtrl.touched">
            Please enter a valid password.
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="btn btn-primary"
          [disabled]="isLoading || !registerForm.valid"
        >
          <i
            class="fa"
            [ngClass]="{
              'fas fa-spin fa-spinner': isLoading
            }"
          ></i>
          Register
        </button>
        <div *ngIf="error" class="error">{{ error }}</div>
      </form>

      <div class="login-redirect">
        <span>Already have an account? </span>
        <a routerLink="/login" class="login-link"> Click here!</a>
      </div>
    </mat-card-content>
  </div>
</div>
