div {
  margin: 0 auto; /* Centrează orizontal */
  width: 80%; /* Ajustează lățimea după preferințe */
  padding: 20px; /* Adaugă spațiu intern */
  border: 1px solid #ccc; /* Adaugă un chenar subtil */
  border-radius: 5px; /* Rotundește colțurile */
  background-color: #f5f5f5; /* Fundal crem deschis */
}

h2 {
  text-align: center; /* Centrează textul */
  color: #333; /* Culoare text închisă */
  margin-bottom: 20px; /* Spațiu sub titlu */
}

.room {
  /* Clasă pentru fiecare cameră */
  margin-bottom: 20px; /* Spațiu între camere */
  padding: 10px; /* Spațiu intern în jurul informațiilor camerei */
  border-bottom: 1px solid #ccc; /* Linie de separare între camere */
}

p {
  margin-bottom: 5px; /* Spațiu între informațiile camerei */
}

.available {
  color: green; /* Culoare verde pentru camerele disponibile */
}

.not-available {
  color: red; /* Culoare roșie pentru camerele indisponibile */
}
.feedback-form {
  display: flex; /* Aranjează elementele pe o singură linie */
  flex-direction: column; /* Elementele unul sub altul */
  margin: 0 auto; /* Centrează orizontal */
  width: 300px; /* Ajustează lățimea după preferințe */
  padding: 20px; /* Adaugă spațiu intern */
  border: 1px solid #ccc; /* Adaugă un chenar subtil */
  border-radius: 5px; /* Rotundește colțurile */
  background-color: #f5f5f5; /* Fundal crem deschis */
}

.feedback-form div {
  margin-bottom: 15px; /* Spațiu între elementele formularului */
}

label {
  display: block; /* Afișează eticheta pe o linie separată */
  margin-bottom: 5px; /* Spațiu sub etichetă */
}

select,
textarea {
  width: 100%; /* Lățimea completă a elementului */
  padding: 5px; /* Spațiu intern în elemente */
  border: 1px solid #ccc; /* Chenar gri deschis */
  border-radius: 3px; /* Rotundește colțurile */
}

button {
  background-color: #4285f4; /* Culoare fundal albastru */
  color: white; /* Culoare text alb */
  padding: 10px 15px; /* Spațiu interior în buton */
  border: none; /* Elimină chenarul butonului */
  border-radius: 5px; /* Rotundește colțurile butonului */
  cursor: pointer; /* Schimbă cursorul la hover */
}
